# Filtering and selecting data

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

## Selecting and retrieving data

In [4]:
series_obj = Series(np.arange(8), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [6]:
series_obj['row 7']

6

In [7]:
series_obj[[0, 7]]

row 1    0
row 8    7
dtype: int64

In [10]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6, 6)), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
                   columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])
DF_obj

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>column 1</th>
      <th>column 2</th>
      <th>column 3</th>
      <th>column 4</th>
      <th>column 5</th>
      <th>column 6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>row 1</th>
      <td>0.870124</td>
      <td>0.582277</td>
      <td>0.278839</td>
      <td>0.185911</td>
      <td>0.411100</td>
      <td>0.117376</td>
    </tr>
    <tr>
      <th>row 2</th>
      <td>0.684969</td>
      <td>0.437611</td>
      <td>0.556229</td>
      <td>0.367080</td>
      <td>0.402366</td>
      <td>0.113041</td>
    </tr>
    <tr>
      <th>row 3</th>
      <td>0.447031</td>
      <td>0.585445</td>
      <td>0.161985</td>
      <td>0.520719</td>
      <td>0.326051</td>
      <td>0.699186</td>
    </tr>
    <tr>
      <th>row 4</th>
      <td>0.366395</td>
      <td>0.836375</td>
      <td>0.481343</td>
      <td>0.516502</td>
      <td>0.383048</td>
      <td>0.997541</td>
    </tr>
    <tr>
      <th>row 5</th>
      <td>0.514244</td>
      <td>0.559053</td>
      <td>0.034450</td>
      <td>0.719930</td>
      <td>0.421004</td>
      <td>0.436935</td>
    </tr>
    <tr>
      <th>row 6</th>
      <td>0.281701</td>
      <td>0.900274</td>
      <td>0.669612</td>
      <td>0.456069</td>
      <td>0.289804</td>
      <td>0.525819</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
DF_obj.ix[['row 2', 'row 5'], ['column 5', 'column 2']]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>column 5</th>
      <th>column 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>row 2</th>
      <td>0.402366</td>
      <td>0.437611</td>
    </tr>
    <tr>
      <th>row 5</th>
      <td>0.421004</td>
      <td>0.559053</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
series_obj['row 3':'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

## Comparing with scalars

In [13]:
DF_obj < .2

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>column 1</th>
      <th>column 2</th>
      <th>column 3</th>
      <th>column 4</th>
      <th>column 5</th>
      <th>column 6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>row 1</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>row 2</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>row 3</th>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>row 4</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>row 5</th>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>row 6</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

## Setting values with scalars

## Setting values with scalars

In [18]:
series_obj['row 1', 'row 5', 'row 8'] = 8
series_obj

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int64